 


.transparentbg
{
	background: #000000;
	background: rgb(0, 0, 0, 0.35);
	background: rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 768px) {
	#nav_wrapper
	{
		background: #000000;
		background: rgb(0, 0, 0, 0.35);
		background: rgba(0, 0, 0, 0.35);
	}
}

.post_header h2, h1, h2, h3, h4, h5, #page_caption h1, #page_content_wrapper .sidebar .content .sidebar_widget li h2, #contact_form label, #commentform label, #page_content_wrapper .sidebar .content .sidebar_widget li h2.widgettitle, h2.widgettitle, .post_date, .pagination span, .pagination a:hover
{
	color: #ffffff;
}

#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a { font-size:13px; }

#menu_wrapper .nav ul li ul li a, #menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-parent ul li a { font-size:12px; }

h1 { font-size:40px; }

h2 { font-size:32px; }

h3 { font-size:26px; }

h4 { font-size:22px; }

h5 { font-size:18px; }

h6 { font-size:16px; }

#gallery_caption h2 { font-size:22px; }

a { color:#ffffff; }

#page_content_wrapper a:hover, #page_content_wrapper a:active { color:#fff200; }

input[type=submit], input[type=button], a.button, .button { 
	background: #fff200;
}

input[type=submit], input[type=button], a.button, .button { 
	color: #000000;
}
input[type=submit]:hover, input[type=button]:hover, a.button:hover, .button:hover
{
	color: #000000;
}

input[type=submit], input[type=button], a.button, .button { 
	border: 1px solid #fff200;
}

.post_header h2, h1, h2, h3, h4, h5, .portfolio_header h6, pre, code, tt
{
	color: #ffffff;
}
#menu_wrapper .nav ul li a, #menu_wrapper div .nav li a { color: #ffffff; }
#menu_wrapper div .nav li ul li a, #menu_wrapper div .nav li.current-menu-item ul li a, #menu_wrapper div .nav li ul li.current-menu-item a, #menu_wrapper .nav ul li ul li a, #menu_wrapper .nav ul li.current-menu-item ul li a, #menu_wrapper .nav ul li ul li.current-menu-item a, #menu_wrapper div .nav li.current-menu-parent ul li a, #menu_wrapper div .nav li ul li.current-menu-parent a { color: #ffffff;  }
#menu_wrapper .nav ul li a.hover, #menu_wrapper .nav ul li a:hover, #menu_wrapper div .nav li a.hover, #menu_wrapper div .nav li a:hover, #menu_wrapper .nav ul li ul li a:hover, #menu_wrapper .nav ul li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li ul li a:hover, #menu_wrapper div .nav li.current-menu-item ul li a:hover, #menu_wrapper div .nav li.current-menu-parent ul li a:hover { color: #fff200;  }
#menu_wrapper div .nav li.current-menu-item > a, #menu_wrapper div .nav li.current-menu-parent > a, #menu_wrapper div .nav li.current-menu-ancestor > a { color: #fff200;  }
body { color: #ebebeb; }
